.box {
    display: block;
    margin-top: 10px;
    border-radius: 30px;
    width: 335px;
    height: 351px;
    background: var(--grey);
    display: flex;
    justify-content: center;
    align-items: end;
}

.image {
    width: 255px;
    height: 331px;
}

@media screen and (min-width: 768px) {
    .box {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .box {
        display: flex;
        width: 600px;
        height: 736px;
        margin-top: 0;
    
    }

    .image {
        width: 405px;
        height: 592px;
    }
}