.icon {
    width: max-content;
    margin: 0 auto;
    display: block;
}

.navLinks {
    margin-top: 28px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

.button {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--mediun_grey);
    border-radius: 16px;
}

@keyframes moveArrow {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
.icon {
    animation: moveArrow 2s ease-in-out infinite; 
  }