.mainText {
    margin: 40px 0px 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.02em;
    width: 295px;
    color: var(--white)
}

.spanText {
    color: #e3e3e380;
}

.box {
    border-radius: 30px;
    width: 335px;
    height: 411px;
    background: var(--grey);
    padding: 20px 20px 40px 20px;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .box {
        border-radius: 30px;
        width: 704px;
        height: 960px;
        padding: 40px 64px;
    }

    .mainText {
        margin: 157px 0px 40px 0px;
        width: 444px;
        font-weight: 700;
        font-size: 64px;
        line-height: 0.94;
        color: #f9f9f9;
    }

    .flexBook {
        display: flex;
        gap: 4px;
    }

    .flexBook p {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #f9f9f9;
    }
}

@media screen and (min-width: 1440px)  {
    .box {
        margin: 0;
        width: 600px;
        height: 736px;
    }
}

@media screen and (min-width: 1440px) { 
    .mainText {
        margin-top: 107px;
        margin-bottom: 40px;
    }
}